@model charamuscas.entities.Entities.vw_inventario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Inventario";
}

<div class="container-fluid">
    <div class="d-flex">
        <span class="text-uppercase fs-3 px-3 py-1">Inventario</span>
        <span class="fs-3 px-3 py-1 rounded bg-primary text-light">@(Model.PK_codigo)</span>
    </div>
    <hr />
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Categoria:</label>
            <label class="d-block fw-bold fs-5">@(Model.categoria)</label>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Producto:</label>
            <label class="d-block fw-bold fs-5">@(Model.producto)</label>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Fecha:</label>
            <label class="d-block fw-bold fs-5">@(Model.fecha_creacion.ToString("dd/MM/yyyy"))</label>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Cantidad Disponible:</label>
            <label class="d-block fw-bold fs-5">@(Model.cantidad.ToString("N2"))</label>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Precio Unitario:</label>
            <label class="d-block fw-bold fs-5">@(Model.precio_unitario.ToString("C2"))</label>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3">
            <label class="fs-5">Costo Unitario:</label>
            <label class="d-block fw-bold fs-5">@(Model.costo_unitario.ToString("C2"))</label>
        </div>
    </div>
</div>

<div class="nav-footer">
    <a asp-action="Index" asp-controller="Inventario" class="btn btn-outline-secondary"><i class="fas fa-chevron-left"></i> <span class="d-md-inline-block d-none">Todo el Inventario</span></a>
    <a asp-action="Create" asp-controller="Inventario" class="btn btn-primary"><i class="fas fa-plus"></i> <span class="d-md-inline-block d-none">Nuevo</span></a>
    <a asp-action="Edit" asp-controller="Inventario" asp-route-id="@(Model.PK_hash)" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> <span class="d-md-inline-block d-none">Editar</span></a>
</div>