@model List<charamuscas.entities.Entities.vw_inventario>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Inventario";
}

<div class="container-fluid">
    <div class="d-flex">
        <span class="text-uppercase fs-3 px-3 py-1">Inventario</span>
    </div>
    <hr />
</div>

<div class="container">
    <div class="d-flex flex-row-reverse">
        <form asp-action="Index" asp-controller="Inventario" class="d-flex">
            <input type="text"
                   name="search"
                   placeholder="Buscar"
                   class="form-control me-1" />
            <button type="submit" class="btn btn-dark">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="table-responsive" style="height: 350px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad Disponible</th>
                    <th scope="col">Costo Unitario</th>
                    <th scope="col">Precio Unitario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <a asp-action="Details"
                               asp-controller="Inventario"
                               asp-route-id="@(item.PK_hash.ToString().ToUpper())">
                                @item.PK_codigo
                            </a>
                        </td>
                        <td>@item.categoria</td>
                        <td>@item.producto</td>
                        <td>@(item.cantidad.ToString("N2"))</td>
                        <td>@(item.costo_unitario.ToString("C2"))</td>
                        <td>@(item.precio_unitario.ToString("C2"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<div class="nav-footer">
    <a asp-action="Create"
       asp-controller="Inventario"
       class="btn btn-primary">
       <i class="fas fa-plus"></i> 
       <span class="d-md-inline-block d-none">
           Nuevo Inventario
       </span>
    </a>
</div>
