@using charamuscas.entities.Entities
@using charamuscas.mvc.Helper
@model Paginacion<compra>
@{
    ViewData["Title"] = "Compras";
}

<div class="container-fluid">
    <div class="d-flex">
        <span class="text-uppercase fs-3 px-3 py-1">Compras</span>
    </div>
    <hr />
</div>

<div class="container">
    <div class="d-flex flex-row-reverse">
        <form asp-action="Index" asp-controller="Compra" class="d-flex">
            <input type="text"
                   name="search"
                   placeholder="Buscar"
                   class="form-control me-1" />
            <button type="submit" class="btn btn-dark">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Costo Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td><a asp-action="Details" asp-controller="Compra" asp-route-id="@item.PK_codigo">@item.PK_codigo</a></td>
                        <td>@item.nombre</td>
                        <td>@(item.cantidad.ToString("N2"))</td>
                        <td>@(item.costo_total.ToString("C2"))</td>
                    </tr>
                }
                <tr>
                    <td colspan="3"></td>
                    <td>@(Model.Sum(x => x.costo_total).ToString("C2"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!--Paginacion-->
@{
    var anteriorDeshabilitado = !Model.PaginasAnteriores ? "disabled" : "";
    var posterioresDeshabilitado = !Model.PaginasPosteriores ? "disabled" : "";
}

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @anteriorDeshabilitado">
                <a class="page-link" asp-action="Index" asp-route-numPag="@(Model.PaginaInicio - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (var i = 1; i <= Model.PaginasTotales; i++)
            {
                var paginaActiva = (i == Model.PaginaInicio) ? "active" : "";
                <li class="page-item @paginaActiva"><a class="page-link" asp-action="Index" asp-route-numPag="@(i)">@(i)</a></li>
            }
            <li class="page-item @posterioresDeshabilitado">
                <a class="page-link" asp-action="Index" asp-route-numPag="@(Model.PaginaInicio + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="nav-footer">
    <a asp-action="Create" asp-controller="Compra" class="btn btn-primary"><i class="fas fa-plus"></i> <span class="d-md-inline-block d-none">Nueva Compra</span></a>
</div>